name: Release Please Merge
on:
  push:
    branches:
      - main
      - uds-release

permissions:
  contents: write
  pull-requests: write
  packages: write
  repository-projects: read
  
jobs:
  release-terraform:
    uses: defenseunicorns/uds-common-workflows/.github/workflows/release-terraform.yml@27-create-common-github-actions-workflow-for-releasing-iac
    with:
      command: manifest
      release-type: simple

# buzzdeploy/tf-module-template/.github/workflows/release-terraform.yml@sast
