---
name: Relase Please Merge
on:
  push:
    branches:
    - main

permissions:
  contents: write
  pull-requests: write

jobs:
  tag-new-version:
    uses: buzzdeploy/tf-module-template/.github/workflows/release-terraform.yml@rerelease
      with:
        command: manifest # use configs in release-please-config.json
        release-type: simple
