name: Release Please Merge
on:
  push:
    branches:
      - main
      - remote-release

permissions:
  contents: write
  pull-requests: write
  packages: write
  repository-projects: read
  

jobs:
  release-terraform:
    uses: buzzdeploy/tf-module-template/.github/workflows/release-terraform.yml@sast
    
# buzzdeploy/tf-module-template/.github/workflows/release-terraform.yml@sast
