name: Release Please Merge
on:
  push:
    branches:
      - main
      - remote-release

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  release-terraform:
    uses: defenseunicorns/uds-package-dubbd/.github/workflows/publish.dubbd.package.yaml@main
    with:
      working_dir: /runner/
    
# buzzdeploy/tf-module-template/.github/workflows/release-terraform.yml@sast